.image_container{
  width: 400px;
  /* height:400px; */
}

.image {
  max-height: 100%;
  max-width: 100%;
  /* object-fit: scale-down; */
}

h1{
  font-family:Georgia, 'Times New Roman', Times, serif
}

.description h4{
  font-weight: bold;
}
